.number {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 20px 10px;
  border: 10px solid #0a7e67;
  border-radius: 50%;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  line-height: 50px;
}